body {
  background-image: url(../img/dust_scratches.png);
}

/*Button Style*/

.btn-box {
  margin: 30px auto 30px auto;
  width: 37%;
}

.btn-reset {
  background-color: rgb(255, 255, 255);
  color: red;
}

.btn-black {
  background-color: black;
  color: white;
}

.btn-random {
  background-color: #ffffff;
}

.random-text {
  display: inline-flex;
}

/*Sketch Box Style*/

.sketch-outer {
  background-color: #5b5b5b;
  margin: auto;
  padding: 20px;
  width: 80%;
}

.sketch-inner {
  background-color: white;
  height: 700px;
  line-height: 0;
  margin: auto;
  width: 700px;
}

/*Pixel Style*/

.pixel {
  display:inline-block;
}
