body {
  background-image:url(../img/dust_scratches.png);
}

.container {
  background-color: white;
  border: 1px solid black;
  line-height: 0;
  margin: auto;
  width: 700px;
}


.button-box {
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}

.button {
  background-color: rgb(255, 54, 54);
  color: black;
  font-family: monospace, sans-serif;
  font-size: 2em;
  height: 50px;
  width: 150px;

}

.pixel {
  display: inline-block;
}
